.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, [col] auto);
  grid-template-rows: repeat(1, [row] auto);
  background-color: #fff;
  color: #444;
}

.bg {
    grid-column: col 1;
    grid-row: row 1 ;
    position: relative;
}

.fg {
    grid-column: col 1;
    grid-row: row 1 ;
    z-index: 10;
}